.page {
  height: 100vh;
  background-image: linear-gradient(to bottom, rgb(58, 24, 22) 30%, rgb(0, 0, 0) 70%);
  background-attachment: fixed;
}

.registration__section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration__section-image {
  width: 500px;
  height: 500px;
}

.registration__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #c6917d;
  border-radius: 15px;
  width: 18vw;
  padding: 20px;
  margin-top: 10px;
}

.registration__form-title {
  color: #c6917d;
  font-size: 40px;
}

.registration__form-field {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  border: none;
  width: 100%;
  margin-top: 20px;
}

.registration__form-input {
  background-color: #c6917d;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 15px;
  width: 100%;
  font-size: 22px;
}

.registration__form-input::placeholder {
  color: #e3dbdb;
}

.registration__form-button {
  background-color: #940404;
  border: none;
  outline: none;
  padding: 15px;
  border-radius: 15px;
  color: #e3dbdb;
  font-size: 22px;
  cursor: pointer;
  transition: 0.3s;
}

.registration__form-button:hover {
  background-color: #700303;
}

.registration__form-text {
  color: #c6917d;
  font-size: 20px;
}

.registration__form-text a {
  text-decoration: underline;
}